<hr>
<div id="footer">
    <div>
        <p class="text">{{ 'opening_hours.title' | translate }}</p>
        <p class="text">{{ 'opening_hours.weekday' | translate }}</p>
        <p class="text">{{ 'opening_hours.weekend' | translate }}</p>
    </div>
    <div>
      <footer class="footer">
        <p class="copyright-part-1">{{ 'COPYRIGHT.TXT1' | translate }}</p>
        <p class="copyright-part-2">{{ 'COPYRIGHT.TXT2' | translate }}</p>
      </footer>
        <p>Fitz Roy 2261</p>
        <p>+54 911 5629-4609</p>
    </div>
    <div>
      <p>{{ 'DEVELOPER.TXT' | translate }}</p>
      <p>{{ 'DEVELOPER.NAME' | translate }}</p> 
    </div>
    
</div>
