<app-header></app-header>

<br><br>

<div class="projcard-container" *ngIf="class as c; else cargando">
  <div class="projcard">
    <div class="projcard-innerbox">
      <img class="projcard-img"
           [src]="c.src || 'assets/placeholder-class.png'"
           [alt]="c.name || 'Clase'"/>

      <div class="projcard-textbox">
        <div class="projcard-title">{{ c.name }}</div>
        <div class="projcard-bar"></div>
        <div class="projcard-description">{{ c.description }}</div>

        <!-- Profesor -->
        <div class="prodjcard-profesorbox">
          <div class="profesorTag" *ngIf="nombreProfesor && src; else sinProfesor">
            <span class="projcard-tag">{{ nombreProfesor }}</span>
            <img [src]="src"
                 class="profesorImg"
                 [alt]="nombreProfesor"/>
          </div>
          <ng-template #sinProfesor>
            <span class="projcard-tag muted">Profesor no asignado</span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #cargando>
  <div class="loading">Cargando clase…</div>
</ng-template>

<br><br><br><br>
<app-footer></app-footer>



  