
.projcard .projcard-bar { background-color: #ff8800; }
.projcard::before { background-image: linear-gradient(-70deg, #ff7b00, transparent 50%); }
.projcard:nth-child(2n)::before { background-image: linear-gradient(-250deg, #ff6600, transparent 50%); }

.projcard-description {
  z-index: 10;
  font-size: 15px;
  color: #424242;
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.projcard-tagbox {
  position: absolute;
  bottom: 3%;
  font-size: 14px;
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.prodjcard-profesorbox{
  display:grid;
  grid-template-columns: auto auto ;
}
.projcard-tag {
  display: inline-block;
  background: #E0E0E0;
  color: #777;
  border-radius: 3px 0 0 3px;
  line-height: 26px;
  padding: 0 50px 0 23px;
  position: relative;
  margin-right: 20px;
  cursor: default;
  user-select: none;
  transition: color 0.2s;
  margin-bottom: 10px !important;
}


.profesorImg{
  width:50px;
  height: 80px;
  border-radius: 20px;
  margin-top: -40px;
}