<div id="counter-section-container">
  <div class="counter-box">
    <h2 class="counter-title">{{ 'COUNTER.MEMBERS.TITLE' | translate }}</h2>
    <div class="counter-display">
      <span class="plus-sign">+</span>
      <span class="counter" data-number="1500">100</span>
    </div>
    <p>{{ 'COUNTER.MEMBERS.TEXT' | translate }}</p>
    <img src="../../../assets/Clientes.jpg" alt="Icono Socios" class="counter-icon" />
  </div>

  <div class="counter-box">
    <h2 class="counter-title">{{ 'COUNTER.TRAINERS.TITLE' | translate }}</h2>
    <div class="counter-display">
      <span class="plus-sign">+</span>
      <span class="counter" data-number="20">0</span>
    </div>
    <p>{{ 'COUNTER.TRAINERS.TEXT' | translate }}</p>
    <img src="../../../assets/Entrenadores.png" alt="Icono Entrenadores" class="counter-icon" />
  </div>

  <div class="counter-box">
    <h2 class="counter-title">{{ 'COUNTER.MACHINES.TITLE' | translate }}</h2>
    <div class="counter-display">
      <span class="plus-sign">+</span>
      <span class="counter" data-number="55">0</span>
    </div>
    <p>{{ 'COUNTER.MACHINES.TEXT' | translate }}</p>
    <img src="../../../assets/Maquinas.jpg" alt="Icono Máquinas" class="counter-icon" />
  </div>
</div>




