<div id="counter-section-container">
  <div class="counter-box">
    <h2 class="counter-title">Socios</h2>
    <span class="counter" data-number="1500">0</span>
    <p>Ya son más de 1500 personas<br>que confían en nosotros</p>
    <img src="../../../assets/Clientes.jpg" alt="Icono Socios" class="counter-icon" />
  </div>

  <div class="counter-box">
    <h2 class="counter-title">Entrenadores</h2>
    <span class="counter" data-number="8">0</span>
    <p>Contamos con un equipo de<br>8 entrenadores certificados</p>
    <img src="../../../assets/Entrenadores.png" alt="Icono Socios" class="counter-icon" />
  </div>

  <div class="counter-box">
    <h2 class="counter-title">Máquinas</h2>
    <span class="counter" data-number="20">0</span>
    <p>Más de 20 máquinas de última generación<br>para entrenamientos completos</p>
    <img src="../../../assets/Maquinas.jpg" alt="Icono Socios" class="counter-icon" />
  </div>
</div>



