/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: black;
}

th, td {
  border: 2px solid orange;
  padding: 15px;
  color: white;
  text-align: center;
}


td.has-class {
  background-color: #ff961e;
  color: black;
}

/* El link ocupa toda la celda, sin “pastilla” */
.cell-link {
  display: block;         /* ocupa 100% del td */
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;         /* usa el color del td */
  font-weight: 600;
  /* sin bordes, sin fondo extra */
  border: 0;
  background: transparent;
}

/* No necesitamos marcador para vacío */
.cell-vacia { display: none; }

@media screen and (max-width: 768px) {
  table {
    width: 40vh;
  }
  th, td {
    border: 1px solid orange;
    padding: 4px;
    color: white;
    text-align: center;
  }
}
