<!-- Barra de filtros -->
<div class="filters">
  <button type="button"
          class="filter-btn"
          [class.active]="!selectedClass"
          (click)="toggleFilter(null)">
    Todos
  </button>

  <button type="button"
          class="filter-btn"
          *ngFor="let name of availableClasses"
          [class.active]="selectedClass === name"
          (click)="toggleFilter(name)">
    {{ name }}
  </button>
</div>

<table>
  <thead>
    <tr>
      <th>Hora</th>
      <th *ngFor="let day of programa">{{ day }}</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let row of displayedRows; trackBy: trackByHora">
      <td class="hora">{{ row.hora }}</td>

      <td *ngFor="let cell of row.clases; trackBy: trackByIdx"
          [class.has-class]="cell.length > 0">

        <ng-container *ngIf="cell.length > 0; else emptyCell">
          <ng-container *ngFor="let c of cell; trackBy: trackByClass; let i = index">
            <a class="cell-link"
               [routerLink]="['/class', c.name!]"
               [queryParams]="{ profesorId: c.profesorId }"
               [attr.aria-label]="'Abrir ' + c.name">
              {{ c.name }}
            </a>
            <br *ngIf="i < cell.length - 1">
          </ng-container>
        </ng-container>

        <ng-template #emptyCell></ng-template>
      </td>
    </tr>
  </tbody>
</table>






