<div>
    <app-header class="header"></app-header>
    
    <section id="banner">
        <photo-displayer></photo-displayer>
    </section>
    <section id="nosotros" class="reveal">
        <h1 id="titulo" class="text" >{{ 'TITLE.H1' | translate }}</h1>
        <h3 id="subtitulo" class="text">{{ 'TITLE.H3' | translate }}</h3>
    </section>
    <section id="cantidad-de-socios" class="reveal">
        <app-cantidad-usuarios></app-cantidad-usuarios>
    </section>
    <resenias class="reveal"></resenias>
    <div>
        <a href="https://wa.me/5491156294609" class="float whatsapp" target="_blank">
            <img src="../../../assets/Inicio/boton-wpp.png" alt="WhatsApp" class="my-float-img">
        </a>
    </div>

    <div>
        <a href="https://www.instagram.com/omniafcgym/" class="float instagram" target="_blank">
            <img src="../../../assets/Inicio/boton-ig.png" alt="Instagram" class="my-float-img">
        </a>
    </div>
    
    <div id="app-footer"><app-footer></app-footer></div>
</div>

