<div>
    <app-header class="header"></app-header>
    
    <section id="banner">
        <photo-displayer></photo-displayer>
    </section>
    <section id="nosotros">
        <h1 id="titulo" class="text" >{{ 'TITLE.H1' | translate }}</h1>
        <h3 id="subtitulo" class="text">{{ 'TITLE.H3' | translate }}</h3>
    </section>
    <section id="cantidad de socios">
        <app-cantidad-usuarios></app-cantidad-usuarios>
    </section>
    <div>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="https://web.whatsapp.com/send?phone=5491156294609" class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
        </a>
    </div>
    <div>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="https://web.whatsapp.com/send?phone=5491156294609" class="float whatsapp" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
        </a>
    </div>
    <div>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="https://www.instagram.com/omniafcgym/" class="float instagram" target="_blank">
        <i class="fa fa-instagram my-float"></i>
        </a>
    </div>
    <resenias></resenias>
    <div id="app-footer"><app-footer></app-footer></div>
</div>

