<hr>
<div id="footer">
    <div class="redSocial">
        <img src="../../../assets/iconos/whatsapp.png" class="footrPhoto">
        <a href="https://web.whatsapp.com/send?phone=5491156294609"></a> 
    </div>
    
    <div class="redSocial">
        <img src="../../../assets/iconos/instagram.png" class="footrPhoto">
        <a href="https://www.instagram.com/omniafcgym/"></a>
    </div>
    <div>
        <a routerLink="/reclamos"> Para reclamos ingresá acá. </a>
    </div>
    <div>
        <br>
        <p>LUNES A VIERNES 07 a 22hs.</p>
        <p> SABADOS 09 a 21hs.</p>
    </div>
</div>
