<div class="gym-class-management">
    <button routerLink="/admin-clases" class="buttonOther">Agregar una nueva clase</button>
    <button routerLink="/admin-profesor" class="buttonOther">Agregar una nuevo profesor</button>
    <div id="titulo">
        <h2>Gestion de horarios de clases</h2>
        <mat-icon id="mat-icon">access_time</mat-icon>
    </div>
    <form>
        <label for="username">Elegir clase</label>
        <select id="name" name="name" [(ngModel)]="newClassName">
            <option *ngFor="let clase of clases" [value]="clase">{{ clase }}</option>
        </select>
        <label for="username">Elegir dia para la clase</label>
        <select id="dia" name="dia" [(ngModel)]="newClassDate">
            <option *ngFor="let dia of dias" [value]="dia">{{ dia }}</option>
        </select>
        <label for="username">Elegir horario para la clase</label>
        <input type="text" id="hours" name="hours" [(ngModel)]="newClassTime" required>
        <label for="username">Especificar un segundo horario (solo para agregar)</label>
        <input type="text" id="hours" name="hours" [(ngModel)]="newClassTime2" required>
        <p class="comment">*Recordar de especificar en formato HH:mm:ss </p>
        <p class="comment">*Siempre empezar por HH:00:00 </p>
        <button (click)="addClass()" class="buttonSend">Add Time</button>
        
        <br>
        <br>
        <button (click)="removeClass()" class="buttonSend">Remove Time</button>
    </form>
    
    
    <br>
    <button (click)="logOut()" class="buttonLogOut">Logout</button>
</div>
