
<menu-admin></menu-admin>
<div class="gym-class-management">
    
    <div id="titulo">
        <h2>Gestion de clases</h2>
        <mat-icon id="mat-icon">list_alt</mat-icon>
    </div>
    <form>
        <label for="username">Agregar clase</label>
        <input class="input" type="text" id="hours" name="hours" [(ngModel)]="newClassName" required>
        <label for="description">Agregar una descripción</label>
        <textarea class="input" id="description" name="description" [(ngModel)]="newClassDescription" rows="4" required></textarea>
        <label for="username">Agregar una imagen del mismo</label>
        <input class="input" type="file" accept="image/*" (change)="onFile($event)">
        <br>
        <br>
        <button (click)="addClass()" class="buttonSend">Agregar Profesor</button>
        <br>
    </form>
    
    <br>
    <button (click)="logOut()" class="buttonLogOut">Logout</button>
</div>
