
<app-header class="header"></app-header>
<!-- index.html -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
<div class="body">
  <div class="elementor-text-editor elementor-clearfix">
    <h1 class="txt-principal">
        <span>{{ 'WELCOME.P1_PART1' | translate }}</span>
        <span class="accent-word">{{ 'WELCOME.P1_PART2' | translate }}</span>
    </h1>

    <h3 class="txt-subtitulo">
        {{ 'WELCOME.P1_PART3' | translate }}
    </h3>
  </div>

  <div class="cards">
    
    <div class="flip">
      <div class="front" style="background-image: url('/assets/Como-comenzar/sentite-comodo.jpg')">
        <h1 class="text-shadow">{{ 'CARDS.COMFORT.TITLE' | translate }}</h1>
      </div>
      <div class="back">
        <h2>{{ 'CARDS.COMFORT.TITLE' | translate }}</h2>
        <p>{{ 'CARDS.COMFORT.TEXT' | translate }}</p>
      </div>
    </div>

    <div class="flip">
      <div class="front" style="background-image: url('/assets/Como-comenzar/vestuarios.jpg')">
        <h1 class="text-shadow">{{ 'CARDS.LOCKERS.TITLE' | translate }}</h1>
      </div>
      <div class="back">
        <h2>{{ 'CARDS.LOCKERS.TITLE' | translate }}</h2>
        <p>{{ 'CARDS.LOCKERS.TEXT' | translate }}</p>
      </div>
    </div>

    <div class="flip">
      <div class="front" style="background-image: url('/assets/Como-comenzar/primera-vez.jpg')">
        <h1 class="text-shadow">{{ 'CARDS.FIRST_TIME.TITLE' | translate }}</h1>
      </div>
      <div class="back">
        <h2>{{ 'CARDS.FIRST_TIME.SUBTITLE' | translate }}</h2>
        <p>{{ 'CARDS.FIRST_TIME.TEXT' | translate }}</p>
      </div>
    </div>

    <div class="flip">
      <div class="front forest" style="background-image: url('/assets/Como-comenzar/apto-medico.jpg')">
        <h1 class="text-shadow">{{ 'CARDS.MEDICAL.TITLE' | translate }}</h1>
      </div>
      <div class="back">
        <h2>{{ 'CARDS.MEDICAL.TITLE' | translate }}</h2>
        <p>{{ 'CARDS.MEDICAL.TEXT' | translate }}</p>
      </div>
    </div>

    <div class="flip">
      <div class="front" style="background-image: url('/assets/Como-comenzar/alimentacion.jpg')">
        <h1 class="text-shadow">{{ 'CARDS.NUTRITION.TITLE' | translate }}</h1>
      </div>
      <div class="back">
        <h2>{{ 'CARDS.NUTRITION.SUBTITLE' | translate }}</h2>
        <p>{{ 'CARDS.NUTRITION.TEXT' | translate }}</p>
      </div>
    </div>

    <div class="flip">
      <div class="front" style="background-image: url('/assets/Como-comenzar/energia.jpg')">
        <h1 class="text-shadow">{{ 'CARDS.ENERGY.TITLE' | translate }}</h1>
      </div>
      <div class="back">
        <h2>{{ 'CARDS.ENERGY.TITLE' | translate }}</h2>
        <p>{{ 'CARDS.ENERGY.TEXT' | translate }}</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
