<div class="gym-class-management">
    <button routerLink="/Admin" class="buttonOther">Agregar un nuevo horario</button>
    <button routerLink="/admin-profesores" class="buttonOther">Agregar una nuevo profesor</button>
    <h2>Gestion de clases</h2>
    <form>   
        <label for="username">Imagen:</label>
        <input type="file" id="src" name="src" [(ngModel)]="newClassSrc" required> 
        <label for="username">Nombre</label>
        <input type="text" id="name" name="name" [(ngModel)]="newClassName" required>    
        <select id="profesor" name="profesor" [(ngModel)]="newClassProfessor">
            <option value="Christian">Christian</option>
            <option value="Diana">Diana</option>
            <option value="Gabi">Gabi</option>
            <option value="Giovanna">Giovanna</option>
            <option value="Lautaro">Lautaro</option>
            <option value="Lobo">Lobo</option>
            <option value="Lorenzo">Lorenzo</option>
            <option value="Rocio">Rocio</option>
            <option value="Seba">Seba</option>
        </select>
        <select id="profesor2" name="profesor2" [(ngModel)]="newClassProfessor2">
            <option value=""></option>
            <option value="Christian">Christian</option>
            <option value="Diana">Diana</option>
            <option value="Gabi">Gabi</option>
            <option value="Giovanna">Giovanna</option>
            <option value="Lautaro">Lautaro</option>
            <option value="Lobo">Lobo</option>
            <option value="Lorenzo">Lorenzo</option>
            <option value="Rocio">Rocio</option>
            <option value="Seba">Seba</option>
        </select>
        <button (click)="addProfesor()" class="buttonSend">Add Class</button>
    </form>
    <button (click)="logOut()" class="buttonLogOut">Logout</button>
</div>
