
<menu-admin></menu-admin>
<div class="gym-class-management">
    
    <div id="titulo">
        <h2>Gestion de profesores</h2>
        <mat-icon id="mat-icon">assignment_ind</mat-icon>
    </div>
    <form>
        <label for="username">Agregar profesor</label>
        <input type="text" id="hours" name="hours" [(ngModel)]="newProfesorName" required>
        <label for="username">Agregar una imagen del mismo</label>
        <input type="file" accept="image/*" (change)="onFile($event)">
        
        <button (click)="addProfesor()" class="buttonSend">Agregar Profesor</button>
        <br>
        <br>
    </form>
    <form>
        <label for="username">Elegir un profesor</label>
        <select id="dia" name="dia" [(ngModel)]="eliminateProfesor">
            <option *ngFor="let profesor of profesores" [value]="profesor">{{ profesor }}</option>
        </select>
        <button (click)="removeProfesor()" class="buttonSend">Eliminar Profesor</button>
    </form>
    
    
    <br>
    <button (click)="logOut()" class="buttonLogOut">Logout</button>
</div>
