<header>
  <div class="middle-header">
    <!-- Logo -->
    <div class="logo">
      <a routerLink="/inicio"><img src="../../../../assets/Omnia1.png" alt="logo"></a>
    </div>

    <!-- Botón hamburguesa -->
    <button class="hamburguesa" (click)="toggleMenu()">&#9776;</button>

    <!-- Menú -->
    <div class="fila2" [class.abierto]="menuAbierto">
      <a class="nav-items" routerLink="/como-comenzar" (click)="cerrarMenu()">Cómo comenzar</a>
      <a class="nav-items" routerLink="/reseñas" (click)="cerrarMenu()">Reseñas</a>
      <!-- <a class="nav-items" routerLink="/Login" (click)="cerrarMenu()">Iniciar sesión</a> -->
    </div>
  </div>
</header>


