/* === HEADER GENERAL === */
.middle-header {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
}

.logo {
  height: auto;
}

.logo img {
  width: 200px;
  height: auto;
}

.fila2 {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav-items {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-items:hover {
  color: rgb(255, 130, 28);
}

/* === HAMBURGUESA === */
.hamburguesa {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

/* === RESPONSIVE === */
@media screen and (max-width: 750px) {
  .hamburguesa {
    display: block;
  }
  .middle-header {
    margin-top: -20%;
  }
  
  .fila2 {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #000;
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
  }

  .fila2.abierto {
    display: flex;
  }

  .nav-items {
    padding: 10px 0;
    font-size: 18px;
  }

  .logo img {
    width: 130px;
  }
}
