<app-header class="header"></app-header>

<div class="loc-wrap">
  <div class="loc-info">
    <h2>{{ 'LOCATION.TITLE' | translate }}</h2>
    <p [innerHTML]="'LOCATION.DESCRIPTION' | translate"></p>

    <a href="https://maps.app.goo.gl/JGTVcjJ1kmDf9RhR9" target="_blank" class="btn-maps">
      <span class="loader" aria-hidden="true"></span>
      <span>{{ 'LOCATION.BUTTON' | translate }}</span>
    </a>
  </div>

  <div class="map-card">
    <iframe
      [src]="embedUrl"
      allowfullscreen
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</div>






